<section id="blog" class="section-padding">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12 text-center hero-title">
                <i class="fa fa-edit"></i>
                <h2 class="page-title">Blog</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
            </div><!--hero title end-->
        </div>

        <div class="row blog-list wow animated fadeInUp">
            <div class="col-md-4 col-sm-4">
                <div class="single-blog">

                    <div class="featured-content">
                        <img class="img-responsive" src="img/demo-images/portfolio/full/01.jpg" alt="" />
                        <div class="portfolio-detail">
                            <div class="portfolio-overlay"></div>
                            <a href="img/demo-images/portfolio/full/01.jpg" data-litebox-group="myGallery" class="litebox"></a>
                        </div>
                    </div>
                    <h2>Blog post title</h2>
                    <span>27 August 2014</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                    <p><a href="" class="btn btn-bordered">Read more</a></p>
                </div>
            </div><!--blog col end-->
            <div class="col-md-4 col-sm-4">
                <div class="single-blog">
                    <div class="featured-content">
                        <img class="img-responsive" src="img/demo-images/portfolio/full/02.jpg" alt="" />
                        <div class="portfolio-detail">
                            <div class="portfolio-overlay"></div>
                            <a href="img/demo-images/portfolio/full/02.jpg" data-litebox-group="myGallery" class="litebox"></a>
                        </div>
                    </div>
                    <h2>Blog post title</h2>
                    <span>27 August 2014</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                    <p><a href="" class="btn btn-bordered">Read more</a></p>
                </div>
            </div><!--blog col end-->
            <div class="col-md-4 col-sm-4">
                <div class="single-blog">
                    <div class="featured-content">
                        <img class="img-responsive" src="img/demo-images/portfolio/full/03.jpg" alt="" />
                        <div class="portfolio-detail">
                            <div class="portfolio-overlay"></div>
                            <a href="img/demo-images/portfolio/full/03.jpg" data-litebox-group="myGallery" class="litebox"></a>
                        </div>
                    </div>
                    <h2>Blog post title</h2>
                    <span>27 August 2014</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
                    <p><a href="" class="btn btn-bordered">Read more</a></p>
                </div>
            </div><!--blog col end-->
        </div>
    </div>
</section>