<section id="call-to-action">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12">
                <div class="cta-content">
                    <h2>Collaboratively administrate empowered markets via plug-and-play networks.</h2>
                    <a href="">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>