<section id="contact" class="section-padding">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12 text-center hero-title">
                <i class="fa fa-envelope"></i>
                <h2 class="page-title">Contact</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
            </div><!--hero title end-->
        </div>


        <div class="row contact-form wow animated fadeInUp">
            <div class="col-md-7">


                <form role="form" id="ajax-contact" method="post" action="includes/contact-form/mailer.php">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" type="text" id="name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-bordered" type="submit">Send Message</button>
                    </div>
                </form>
                <div id="form-messages"></div>

            </div><!--form col-->
            <div class="col-md-5">
                <div class="address-info">
                    <h3>Our Office</h3>
                    <p><i class="fa fa-map-marker"></i> Address: 302012 Jaipur Name, City Name</p>
                    <p><i class="fa fa-phone"></i> Phone: (141) 456-7890</p>
                    <p><i class="fa fa-envelope"></i> Email: support@quick.com</p>
                    <p><strong>Monday - Friday : </strong> 9:30 Am - 5:30 Pm</p>
                    <p><strong>Saturday - Sunday: </strong> Closed</p>
                </div>
                <div class="address-info">
                    <h3>Elsewhere</h3>
                    <ul class="list-inline social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div><!--address info col end-->
        </div>
    </div>
</section>