<section id="features" class="section-padding">
    <div data-velocity="-.1" class="features-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="100ms">
                <div class="features-item">
                    <i class="fa fa-arrows"></i>
                    <h2>Educación</h2>
                    <p>Programas educativos dirigidos a médicos, enfermeros, ingenieros y kinesiólogos, dirigidos tanto a la aplicación</p>
                    <!--como al mantenimiento de los productos.-->
                </div>
            </div><!--feature col end-->
            <div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="200ms">
                <div class="features-item">
                    <i class="fa fa-eye"></i>
                    <h2>Soporte</h2>
                    <p>Servicio técnico en todo el país realizado por técnicos certificados por los fabricantes, con repuestos originales e instrumental calibrado.</p>
                </div>
            </div><!--feature col end-->
            <div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="features-item">
                    <i class="fa fa-magic"></i>
                    <h2>Innovación</h2>
                    <p>Siempre a la vanguardia del desarrollo de la tecnología para la salud garantizado por fabricantes de renombre mundial.</p>
                </div>
            </div><!--feature col end-->
            <div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="features-item">
                    <i class="fa fa-adjust"></i>
                    <h2>Asesoramiento</h2>
                    <p>Orientación durante el proceso de selección de la tecnología y entrenamiento para su aplicación a cargo de ingenieros especializados en cada área de producto.</p>
                </div>
            </div><!--feature col end-->
            <div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="features-item">
                    <img class="fa" style="max-height: 40px" src="img/demo-images/features/calidad.png"/>
                    <!--<i class="fa fa-tasks"></i>-->
                    <h2>Calidad</h2>
                    <p>Sistema de Gestión de la Calidad auditado por TUV Reihnland.  Certificación de ANMAT de Buenas Prácticas de Fabricación. </p>
                </div>
            </div><!--feature col end-->
            <div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="600ms">
                <div class="features-item">
                    <i class="fa fa-rocket"></i>
                    <h2>Financiación</h2>
                    <p>Herramientas financieras que facilitan el acceso rápido a la tecnología: leasings, créditos de corto, mediano y largo plazo.</p>
                </div>
            </div><!--feature col end-->
        </div>
    </div>
</section>