<section id="home">
    <div data-velocity="-.3" class="home-parallax"></div>
    <!--<div id="particles-js" class="home-overlay"></div>-->
    <div class="home-overlay"></div>
    <div class="welcome-text">
        <div class="container">
            <h2 class="wow animated fadeInDown">
                <img src="img/logo/logo_JAEJ.png" class="img-responsive" alt="Logo JAEJ">
            </h2>
            <p class="wow animated fadeInUp">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer</p>

            <div class="social-bookmark animated bounceInLeft">
                <a class="animated fadeInDown" href=""><i class="fa fa-facebook-square"></i></a>
                <a href=""><i class="fa fa-twitter-square"></i></a>
                <a href=""><i class="fa fa-linkedin-square"></i></a>
                <a href=""><i class="fa fa-google-plus-square"></i></a>
                <a href=""><i class="fa fa-youtube-square"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-flickr"></i></a>
            </div>
        </div>
    </div>
</section>