<nav id="navigation">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo/logo_JAEJmin.png" class="img-responsive" alt="Logo JAEJ min" style="height: 30px;"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#portfolio">Home</a></li>
                    <% filters.forEach(function(filter){ %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= filter.name %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% filter.subfilters.forEach(function(subfilter){ %>
                            <li><a href="#"> <%= subfilter %> </a></li>
                            <% }); %>
                        </ul>
                    </li>
                    <% }); %>
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--navbar-default-->
</nav>


