<section id="parallax_1">
    <div data-velocity="-.3" class="parallax-bg"></div>
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12">
                <div class="call_to_action text-center">
                    <h2 class="page-title">Our awesome call to action title goes here!</h2>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>

                    <a href="" class="btn btn-filled">Buy It Now</a>
                    <a href="" class="btn btn-bordered">See WP Version</a>
                </div>
            </div>
        </div>
    </div>
</section>