<section id="pricing" class="section-padding">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12 text-center hero-title">
                <i class="fa fa-usd"></i>
                <h2 class="page-title">See our pricing below</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
            </div><!--hero title end-->
        </div>

        <div class="row price-list wow animated fadeInUp">
            <div class="col-md-3 col-sm-6">
                <div class="price-title">
                    <h4>Basic</h4>
                </div>
                <div class="plan-price">
                    <h2><span>$</span>9.99 <span>P/M</span></h2>
                </div>
                <ul class="plan-features list-unstyled">
                    <li><i class="fa fa-check"></i> 5 Team Members</li>
                    <li><i class="fa fa-check"></i> 10 MySql database</li>
                    <li><i class="fa fa-check"></i> 100 GB Bandwith</li>
                    <li><i class="fa fa-check"></i> 10 GB Storage</li>
                </ul>
                <div class="plan-link">
                    <a class="btn btn-bordered" href="#">Choose Plan</a>
                </div>
            </div><!--pricing col end-->
            <div class="col-md-3 col-sm-6">
                <div class="price-title">
                    <h4>Starter</h4>
                </div>
                <div class="plan-price">
                    <h2><span>$</span>19.99 <span>P/M</span></h2>
                </div>
                <ul class="plan-features list-unstyled">
                    <li><i class="fa fa-check"></i> 25 Team Members</li>
                    <li><i class="fa fa-check"></i> 50 MySql database</li>
                    <li><i class="fa fa-check"></i> 500 GB Bandwith</li>
                    <li><i class="fa fa-check"></i> 50 GB Storage</li>
                </ul>
                <div class="plan-link">
                    <a class="btn btn-bordered" href="#">Choose Plan</a>
                </div>
            </div><!--pricing col end-->
            <div class="col-md-3 col-sm-6 popular">
                <div class="price-title">
                    <h4>Pro</h4>
                </div>
                <div class="plan-price">
                    <h2><span>$</span>29.99 <span>P/M</span></h2>
                </div>
                <ul class="plan-features list-unstyled">
                    <li><i class="fa fa-check"></i> 50 Team Members</li>
                    <li><i class="fa fa-check"></i> 100 MySql database</li>
                    <li><i class="fa fa-check"></i> 1 TB Bandwith</li>
                    <li><i class="fa fa-check"></i> 100 GB Storage</li>
                </ul>
                <div class="plan-link">
                    <a class="btn btn-bordered" href="#">Choose Plan</a>
                </div>
            </div><!--pricing col end-->
            <div class="col-md-3 col-sm-6">
                <div class="price-title">
                    <h4>Ultimate</h4>
                </div>
                <div class="plan-price">
                    <h2><span>$</span>99.99 <span>P/M</span></h2>
                </div>
                <ul class="plan-features list-unstyled">
                    <li><i class="fa fa-check"></i> Unlimited Team Members</li>
                    <li><i class="fa fa-check"></i> Unlimited MySql database</li>
                    <li><i class="fa fa-check"></i> 50 TB Bandwith</li>
                    <li><i class="fa fa-check"></i> Unlimited Storage</li>
                </ul>
                <div class="plan-link">
                    <a class="btn btn-bordered" href="#">Choose Plan</a>
                </div>
            </div><!--pricing col end-->
        </div>
    </div>
</section>