<section id="testimonials" class="section-padding">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12 text-center product-title">
                <i><img style="width: 25px" src="img/demo-images/products/icon_syringe.png"/> </i>
                <h2 class="page-title">Estación de Anestesia</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate
                    B2C users after installed base benefits. Dramatically visualize customer directed convergence
                    without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.
                    Quickly maximize timely deliverables for real-time schemas. </p>
            </div><!--hero title end-->
        </div>

        <div class="row wow animated fadeInUp" style="margin-bottom: 50px">
            <div class="testimonial_section">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <a data-toggle="tab" href="#client-01"><img class="product-img"
                                                                src="img/demo-images/products/omnicare.jpg"
                                                                alt=""/></a>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <div class="client-info">
                                <h2>Giraffe Omnibed Carestation</h2>
                            </div>
                            <p>La Giraffe Omnibed combina todas las características de una incubadora y una cuna radiante en un solo equipo compacto y versátil, incluyendo procedimientos quirúrgicos. Reduce el estrés de los bebés en estado crítico creando un ambiente amigable tanto para el personal como para la familia. </p>
                            <h2>GE Healthcare</h2>
                            <h2>Folleto <a href="/" > <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h2>
                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>

        <div class="row wow animated fadeInUp" style="margin-bottom: 50px">
            <div class="testimonial_section">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <a data-toggle="tab" href="#client-01"><img class="product-img"
                                                                src="img/demo-images/products/omnicare.jpg"
                                                                alt=""/></a>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <div class="client-info">
                                <h2>Giraffe Omnibed Carestation</h2>
                            </div>
                            <p>La Giraffe Omnibed combina todas las características de una incubadora y una cuna
                                radiante en un solo equipo compacto y versátil, incluyendo procedimientos quirúrgicos.
                                Reduce el estrés de los bebés en estado crítico creando un ambiente amigable tanto para
                                el personal como para la familia. </p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <div>
                                <img style="padding-top: 10px; max-height: 90px" src="img/demo-images/prodlogo/ge.png"/>
                                <h2>Folleto <a href="/" > <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h2>
                            </div>
                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>
        
        <div class="row wow animated fadeInUp" style="margin-bottom: 50px">
            <div class="testimonial_section">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <a data-toggle="tab" href="#client-01"><img class="product-img"
                                                                src="img/demo-images/products/anestesia1.jpg"
                                                                alt=""/></a>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <div class="client-info">
                                <h2>Modelo Producto</h2>
                            </div>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <br>
                            <div>
                                <img style="padding-top: 10px; max-height: 90px" src="img/demo-images/prodlogo/linet.png"/>
                                <h2>Folleto <a href="/" > <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h2>
                            </div>
                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>

       <div class="row wow animated fadeInUp" style="margin-bottom: 50px">
            <div class="testimonial_section">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <a data-toggle="tab" href="#client-01"><img class="product-img"
                                                                src="img/demo-images/products/anestesia1.jpg"
                                                                alt=""/></a>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <div class="client-info">
                                <h2>Modelo Producto</h2>
                            </div>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <h2>Jennifer Toyen</h2>
                            <p>Artist</p>
                            <h2>Folleto <a href="/" > <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h2>
                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>

        <div class="row wow animated fadeInUp" style="margin-bottom: 50px">
            <div class="testimonial_section">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <a data-toggle="tab" href="#client-01"><img class="product-img"
                                                                src="img/demo-images/products/monitor2.jpg"
                                                                alt=""/></a>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <div class="client-info">
                                <h2>Modelo Producto</h2>
                            </div>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>

                            <h2>Jennifer Toyen</h2>
                            <p>Artist</p>
                            <h2>Folleto <a href="/" > <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h2>

                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>

        <div class="row wow animated fadeInUp" style="margin-bottom: 50px">
            <div class="testimonial_section" >
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <a data-toggle="tab" href="#client-01"><img class="product-img"
                                                                src="img/demo-images/products/scialitica1.jpg"
                                                                alt=""/></a>
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <div class="client-info">
                                <h2>Modelo Producto</h2>
                            </div>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer
                                directed convergence without revolutionary ROI. Efficiently unleash cross-media
                                information without cross-media value. Quickly maximize timely deliverables for
                                real-time schemas. </p>

                            <h2>Jennifer Toyen</h2>
                            <p>Artist</p>
                            <h2>Folleto <a href="/" > <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h2>

                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>
    </div>

    </div>
</section>