<section id="project-count" class="section-padding">
    <div data-velocity="-.3" class="parallax-bg"></div>
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-4 col-sm-4">
                <div class="single-count">
                    <i class="fa fa-plane"></i>
                    <h2><span class="counter">3450</span></h2>
                    <p>Projects complete</p>
                </div>
            </div><!--project col end-->
            <div class="col-md-4 col-sm-4">
                <div class="single-count">
                    <i class="fa fa-user"></i>
                    <h2><span class="counter">345</span>+</h2>
                    <p>Happy Clients</p>
                </div>
            </div><!--project col end-->
            <div class="col-md-4 col-sm-4">
                <div class="single-count">
                    <i class="fa fa-clock-o"></i>
                    <h2><span class="counter">6000</span></h2>
                    <p>Working Hours</p>
                </div>
            </div><!--project col end-->
        </div>
    </div>
</section>