<section id="our-team" class="section-padding">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12 text-center hero-title">
                <i class="fa fa-user"></i>
                <h2 class="page-title">Meet the crazy people behind the Perfect Design</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
            </div><!--hero title end-->
        </div>

        <div class="row wow animated fadeInUp">

            <div class="col-sm-4">
                <div class="team-item">
                    <img class="img-responsive" src="img/demo-images/authors/single-author.jpg" alt="" />
                    <h2>Abraham Garen</h2>
                    <h4>Creative Head</h4>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. </p>
                    <div class="social-profile">
                        <a href=""><i class="fa fa-facebook-square"></i></a>
                        <a href=""><i class="fa fa-twitter-square"></i></a>
                        <a href=""><i class="fa fa-linkedin-square"></i></a>
                        <a href=""><i class="fa fa-google-plus-square"></i></a>
                        <a href=""><i class="fa fa-youtube-square"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
            </div><!--team col end-->
            <div class="col-sm-4">
                <div class="team-item">
                    <img class="img-responsive" src="img/demo-images/authors/single-author2.jpg" alt="" />
                    <h2>Jessica Avetis</h2>
                    <h4>Sr. Programmer</h4>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. </p>
                    <div class="social-profile">
                        <a href=""><i class="fa fa-facebook-square"></i></a>
                        <a href=""><i class="fa fa-twitter-square"></i></a>
                        <a href=""><i class="fa fa-linkedin-square"></i></a>
                        <a href=""><i class="fa fa-google-plus-square"></i></a>
                        <a href=""><i class="fa fa-youtube-square"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
            </div><!--team col end-->
            <div class="col-sm-4">
                <div class="team-item">
                    <img class="img-responsive" src="img/demo-images/authors/single-author3.jpg" alt="" />
                    <h2>Robert B. Henrik</h2>
                    <h4>Marketing Director</h4>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. </p>
                    <div class="social-profile">
                        <a href=""><i class="fa fa-facebook-square"></i></a>
                        <a href=""><i class="fa fa-twitter-square"></i></a>
                        <a href=""><i class="fa fa-linkedin-square"></i></a>
                        <a href=""><i class="fa fa-google-plus-square"></i></a>
                        <a href=""><i class="fa fa-youtube-square"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
            </div><!--team col end-->
        </div>
    </div>
</section>