<section id="testimonials" class="section-padding">
    <div class="container">
        <div class="row wow animated fadeInDown">
            <div class="col-md-12 text-center hero-title">
                <i class="fa fa-quote-left"></i>
                <h2 class="page-title">No more bla..bla... It's time to hear from our clients</h2>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
            </div><!--hero title end-->
        </div>

        <div class="row wow animated fadeInUp">
            <div class="testimonial_section">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">

                    <ul class="clients-list" role="tablist">
                        <li class="active">
                            <a data-toggle="tab" href="#client-01"><img src="img/demo-images/clients/client.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-02"><img src="img/demo-images/clients/client2.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-03"><img src="img/demo-images/clients/client3.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-04"><img src="img/demo-images/clients/client4.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-05"><img src="img/demo-images/clients/client5.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-06"><img src="img/demo-images/clients/client6.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-07"><img src="img/demo-images/clients/client7.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-08"><img src="img/demo-images/clients/client8.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-09"><img src="img/demo-images/clients/client9.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-10"><img src="img/demo-images/clients/client10.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-11"><img src="img/demo-images/clients/client11.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#client-12"><img src="img/demo-images/clients/client12.jpg" alt="" /></a>
                        </li>
                    </ul><!--client photo end-->
                </div>

                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="client-testimonials-list">
                        <div id="client-01" class="single-testimonial tab-pane fade in active">
                            <h2>The Perfect Design theme is really amazing!</h2>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>

                            <div class="client-info">
                                <h2>Jennifer Toyen</h2>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div id="client-02" class="single-testimonial tab-pane fade in">
                            <h2>Use lap as chair destroy couch but rub face</h2>
                            <p>Use lap as chair destroy couch but rub face on everything for play time. Give attitude why must they do that yet stare at ceiling but hide when guests come over hunt anything that moves play time. Sweet beast stick butt in face yet flop over but flop over for hopped up on goofballs. Stare at ceiling stick butt in face and leave dead animals as gifts and missing until dinner time. Sweet beast sweet beast shake treat bag yet play time mark territory why must they do that. </p>

                            <div class="client-info">
                                <h2>Client Name two</h2>
                                <p>CTO, Company Name, TX</p>
                            </div>
                        </div>
                        <div id="client-03" class="single-testimonial tab-pane fade in">
                            <h2>Make muffins claw drapes for nap all</h2>
                            <p>Make muffins claw drapes for nap all day but mark territory sun bathe. Run in circles play time leave dead animals as gifts. Chase mice cat snacks give attitude lick butt. Lick butt chew iPad power cord cat snacks inspect anything brought into the house, and need to chase tail intrigued by the shower yet chase mice. Shake treat bag run in circles but behind the couch and mark territory and play time, intrigued by the shower, but leave dead animals as gifts. </p>

                            <div class="client-info">
                                <h2>Client Name three</h2>
                                <p>Staff, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-04" class="single-testimonial tab-pane fade in">
                            <h2>Rub face on everything cat snacks stretch inspect</h2>
                            <p>Rub face on everything cat snacks stretch inspect anything brought into the house. Chew foot leave hair everywhere claw drapes. Lick butt make muffins inspect anything brought into the house, for stare at ceiling. Give attitude claw drapes stand in front of the computer screen yet shake treat bag need to chase tail. </p>

                            <div class="client-info">
                                <h2>Client Name four</h2>
                                <p>Accounts, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-05" class="single-testimonial tab-pane fade in">
                            <h2>Chase imaginary bugs rub face on everything intently</h2>
                            <p>Chase imaginary bugs rub face on everything intently sniff hand, throwup on your pillow why must they do that climb leg. Why must they do that sleep on keyboard chase mice. Chase imaginary bugs stare at ceiling leave dead animals as gifts yet chew iPad power cord but destroy couch or hopped up on goofballs hopped up on goofballs. </p>

                            <div class="client-info">
                                <h2>Client Name five</h2>
                                <p>Web Designer, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-06" class="single-testimonial tab-pane fade in">
                            <h2>Run in circles claw drapes rub face</h2>
                            <p>Run in circles claw drapes rub face on everything use lap as chair sleep on keyboard or intently stare at the same spot yet attack feet. Intently sniff hand behind the couch chase mice nap all day. Nap all day chew foot leave hair everywhere throwup on your pillow stare at ceiling. Missing until dinner time chase mice and chase mice under the bed or play time, or hate dog for mark territory. Attack feet chew iPad power cord so attack feet but chew foot for why must they do that.</p>

                            <div class="client-info">
                                <h2>Client Name six</h2>
                                <p>Marketer, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-07" class="single-testimonial tab-pane fade in">
                            <h2>Intently sniff hand lick butt and</h2>
                            <p>Intently sniff hand lick butt and all of a sudden go crazy chase mice. Lick butt all of a sudden go crazy or play time. Stare at ceiling inspect anything brought into the house hide when guests come over, so cat snacks. Stretch flop over but missing until dinner time, hunt anything that moves. Run in circles under the bed but intently stare at the same spot or burrow under covers yet behind the couch intently stare at the same spot. </p>

                            <div class="client-info">
                                <h2>Client Name seven</h2>
                                <p>Assistant, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-08" class="single-testimonial tab-pane fade in">
                            <h2>Play time hide when guests come</h2>
                            <p>Intently sniff hand hide when guests come over. Behind the couch climb leg. Give attitude run in circles or run in circles but hate dog but behind the couch stand in front of the computer screen and chase imaginary bugs. Chew iPad power cord lick butt stretch, under the bed but leave hair everywhere so hide when guests come over missing until dinner time. Climb leg leave dead animals as gifts.  </p>

                            <div class="client-info">
                                <h2>Client Name eight</h2>
                                <p>TE, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-09" class="single-testimonial tab-pane fade in">
                            <h2>Intently sniff hand leave hair everywhere</h2>
                            <p>Play time hide when guests come over missing until dinner time. Chase mice burrow under covers hide when guests come over and make muffins behind the couch. Cat snacks leave hair everywhere. Mark territory stand in front of the computer screen mark territory so hide when guests come over. Need to chase tail throwup on your pillow make muffins, sleep on keyboard all of a sudden go crazy attack feet but intently sniff hand.</p>

                            <div class="client-info">
                                <h2>Client Name nine</h2>
                                <p>OFF, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-10" class="single-testimonial tab-pane fade in">
                            <h2>Under the bed shake treat bag cat snacks</h2>
                            <p>Intently sniff hand leave hair everywhere, find something else more interesting chase mice stretch leave dead animals as gifts. Hopped up on goofballs. Stare at ceiling missing until dinner time but chase mice, so stare at ceiling stand in front of the computer screen, chew iPad power cord but throwup on your pillow. Behind the couch. Why must they do that leave hair everywhere and leave dead animals as gifts for give attitude. </p>

                            <div class="client-info">
                                <h2>Client Name ten</h2>
                                <p>SMM, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-11" class="single-testimonial tab-pane fade in">
                            <h2>Leave dead animals as gifts intently</h2>
                            <p>Under the bed shake treat bag cat snacks and intently stare at the same spot so chew foot and shake treat bag yet intently stare at the same spot. Play time. Sweet beast stick butt in face or lick butt so stretch stretch, leave dead animals as gifts. Intently sniff hand rub face on everything. Leave hair everywhere make muffins so need to chase tail intently sniff hand so hate dog for missing until dinner time for stick butt in face.</p>

                            <div class="client-info">
                                <h2>Client Name eleven</h2>
                                <p>Founder, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                        <div id="client-12" class="single-testimonial tab-pane fade in">
                            <h2>Why must they do that lick butt attack</h2>
                            <p>Chase mice. Leave dead animals as gifts intently sniff hand so climb leg and nap all day. Burrow under covers. Shake treat bag attack feet. Burrow under covers inspect anything brought into the house run in circles yet intently sniff hand leave hair everywhere hate dog. Claw drapes hate dog or find something else more interesting, chase mice but find something else more interesting. Chew iPad power cord. Stretch nap all day give attitude. </p>

                            <div class="client-info">
                                <h2>Client Name twelve</h2>
                                <p>TO, BugDoom Instititute, TX</p>
                            </div>
                        </div>
                    </div>
                </div><!--testimonial list end-->
            </div>
        </div>
    </div>
</section>